service aee_aed /system_ext/bin/aee_aed
    group root readproc system debuggerd log package_info
    writepid /dev/cpuset/system-background/tasks

service aee-reinit /system_ext/bin/aee_aed --reinit
    oneshot
    disabled
    user root
    group root
service anrdump /system_ext/bin/aee -q
    oneshot
    disabled
    user root
    group root
