on post-fs-data
    mkdir /data/dumpsys 0775 system system
    mkdir /data/core 0775 system system
    mkdir /data/misc/aee_interim 0775 system system
    mkdir /data/aee_exp 0777 root root encryption=None

on post-fs
    start aee_aed
    start aee_aed64

on property:ro.build.type=eng
    write /proc/sys/fs/suid_dumpable 1
    write /proc/sys/kernel/core_pattern "|/system_ext/bin/aee_core_forwarder /data/core/ %p %s TID=%I UID=%u GID=%g EXE_PATH=%E"
    write /proc/sys/kernel/core_pipe_limit 3

on property:ro.build.type=userdebug
    write /proc/sys/fs/suid_dumpable 1
    write /proc/sys/kernel/core_pattern "|/system_ext/bin/aee_core_forwarder /data/core/ %p %s TID=%I UID=%u GID=%g EXE_PATH=%E"
    write /proc/sys/kernel/core_pipe_limit 3

on property:persist.vendor.aeev.core.dump=enable
    write /proc/sys/fs/suid_dumpable 1
    write /proc/sys/kernel/core_pattern "|/system_ext/bin/aee_core_forwarder /data/core/ %p %s TID=%I UID=%u GID=%g EXE_PATH=%E"
    write /proc/sys/kernel/core_pipe_limit 3

on property:ro.build.type=eng && property:persist.vendor.aee.tracing_on=0
    write /sys/kernel/debug/tracing/tracing_on 0

on property:ro.build.type=eng && property:persist.vendor.aee.tracing_on=1
    write /sys/kernel/debug/tracing/tracing_on 1

on property:ro.build.type=userdebug && property:persist.vendor.aee.tracing_on=0
    write /sys/kernel/debug/tracing/tracing_on 0

on property:ro.build.type=userdebug && property:persist.vendor.aee.tracing_on=1
    write /sys/kernel/debug/tracing/tracing_on 1

on property:persist.vendor.aeev.core.direct=disable
    setprop debug.debuggerd.disable 0

on property:persist.vendor.aeev.core.direct=enable
    setprop debug.debuggerd.disable 1

on early-init

on init
    write /proc/self/coredump_filter 39

on property:sys.boot_completed=1
    start aee-reinit
    setprop persist.vendor.aee.log.status 1

on property:sys.boot_completed=1 && property:ro.build.type=eng
    write /proc/mtprintk "0"
    write /proc/mtprintk "3"
    write /proc/mtprintk ${persist.vendor.uartconsole.enable}
on property:sys.boot_completed=1 && property:ro.build.type=userdebug
    write /proc/mtprintk "0"
    write /proc/mtprintk ${persist.vendor.uartconsole.enable}
on property:sys.boot_completed=1 && property:ro.build.type=user
    write /proc/mtprintk "0"
    write /proc/mtprintk ${persist.vendor.uartconsole.enable}
## mtk printk uart controller
on property:persist.vendor.uartconsole.enable=*
    write /proc/mtprintk ${persist.vendor.uartconsole.enable}
